.attribution { font-size: 11px; text-align: center; color: darkgrey;}
.attribution a { color: hsl(228, 45%, 44%); text-decoration: none;}

body {
    background-color: hsl(204, 43%, 93%);
    font-family: 'Karla', sans-serif;
}
h1 {
    color: hsl(179, 62%, 43%);
    margin-top: 0px;
    font-size: 24px;
}
h2 {
    color: hsl(71, 73%, 54%);
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
}
h3 {
    color: white;
    font-size: 18px;
    font-weight: 500;
}
p {
    color: hsl(204, 43%, 93%);
    font-family: 'Karla', sans-serif;
}
#header-detail {
    color: hsl(218, 22%, 67%);
    margin: 0;
}

.container {
    margin: 100px auto;
    width: 640px;
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.top-container {
    background-color: white;
    padding: 40px;
    border-radius: 10px 10px 0 0;
}

.bottom-container {
    display: flex;
    flex-direction: row;
}

.price {
    background-color: hsl(179, 62%, 43%);
    width: 50%;
    padding: 10px 40px 20px 40px;
    border-radius: 0 0 0 10px;
}
#price {
    font-size: 28px;
    font-weight: 600;
    margin: 18px 0 18px 0;
}
#per-month {
    color: hsl(204, 43%, 80%);
    font-size: 14px;
    font-weight: 300;
    margin-left: 15px;
}
button {
    background-color: hsl(71, 73%, 54%);
    color: white;
    width: 100%;
    height: 40px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    font-weight: 600;
    font-size: 16px;
}

.details {
    background-color: hsl(179, 62%, 50%);
    width: 50%;
    padding: 10px 40px 40px 40px;
    border-radius: 0  0 10px 0;
}
.detail {
    color: hsl(204, 43%, 90%);
    margin: 5px;
    font-size: 12px;
}

@media screen and (max-width: 415px) {
    body {
        box-sizing: border-box;
    }
    h1 {
        margin-top: 10px;
        font-size: 20px;
    }
    h2 {
        font-size: 18px;
        font-weight: 700;
    }
    #header-detail {
        margin: 0;
        font-size: 14px;
        margin-bottom: 10px;
    }
    .container {
        width: 90%;
        margin-top: 80px;
        margin-bottom: 50px;
    }
    .top-container {
        padding: 20px;
    }
    .bottom-container {
        flex-direction: column;
        width: auto;
    }
    .price {
        width: auto;
        border-radius: 0;
        padding: 0 20px 20px 20px;
    }
    .price p {
        font-size: 14px;
        margin-bottom: 0;
    }
    .details {
        width: auto;
        border-radius: 0 0 10px 10px;
        padding: 0 20px 20px 20px;
    }
}